@font-face {
    font-family: "Graphik";
    src: 	url('http://chrisberridge.com/Graphik-Regular.WOFF') format('woff'),
    		url('http://chrisberridge.com/Graphik-Regular.ttf')  format('truetype');
    font-weight: 400;
}


@font-face {
    font-family: "Graphik";
    src: 	url('http://chrisberridge.com/Graphik-Semibold.WOFF') format('woff'),
    		url('http://chrisberridge.com/Graphik-Semibold.ttf')  format('truetype');
    font-weight: 600;
}

